.search {
    z-index: 1;

    h1 {
      text-align: end;
      font-size: 20px;
    }
  
    input {
      text-align:center;
      font-size: 35px;
      height: 40px;
      width: 300px;
      border-radius: 50px;
      margin-left: 15px;
    }
  }